<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
    <style>
        body {
            text-align: center;
        }
        
        h1 {
            margin-top: 50px;
        }
        
        .profile-picture {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin-top: 30px;
        }
        
        p {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <!-- line_login/user_details.html -->
    <h1>Welcome, {{ user_name }}</h1>
    <img class="profile-picture" src="{{ user_picture }}" alt="Profile Picture">
    <p>User ID: {{ user_id }}</p>
</body>
</html>

